/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Noto+Serif&family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
font-family: 'Comforter Brush', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
*/

.bg-banner-f{
    background-image: url('../public/banners/banner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-banner-s{
    background-image: url('../public/banners/banner2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.bg-banner-light{
    background-image: url('../public/banners/banner-light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

::-webkit-scrollbar {
    width: 0px;
}